@font-face {
  font-family: 'ZillaSlab';
  src: url('/res/ZillaSlab-LightItalic.ttf') format('truetype');
}

:root {
  --black: #262626;
  --white: #f2f4f8;
  color-scheme: light dark;

  background-color: light-dark(var(--white), var(--black));
  color: light-dark(var(--black), var(--white));
  font-family: 'ZillaSlab', serif;
  overflow: hidden;
  height: 100%;

}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2vh;
}

.list-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
}

.image {
  height: 60vh;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #161616;
}

.list {
  list-style: none;
  font-size: 1.5rem;
}

.list li {
  padding-bottom: 5px;
}

.underline-effect {
  position: relative;
  text-decoration: none;
}

.underline-effect:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

a:link {
  text-decoration: none;
  color: light-dark(var(--black), var(--white));
}

a:visited {
  text-decoration: none;
  color: light-dark(var(--black), var(--white));
}
